<div fxLayout="column">
    <div id="nav">
        <ul>
            <li><a href="#">Shop&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Betingelser&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Support&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Kontakt&nbsp;|</a></li>
            <li><a href="#">&nbsp;Om</a></li>
        </ul>
    </div>

    <div id="nav">
        <ul>
            <li><a href="#">All&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Telefoner&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Mad&nbsp;|&nbsp;</a></li>
            <li><a href="#">&nbsp;Biler&nbsp;|</a></li>            
        </ul>
    </div>  
</div>